<div class="toolbar" role="banner">
  <span>Welcome</span>
</div>

<div class="content" role="main">
  <input
    class="form-control"
    type="text"
    placeholder="Enter user ...."
    [(ngModel)]="user"
  />
  <button class="btn btn-success" (click)="addUser()">Connect User</button>

  <input
    class="form-control"
    type="text"
    placeholder="Enter Message ..."
    [(ngModel)]="input"
  />
  <button class="btn btn-success" (click)="sendMessage()">Send message</button>
  <button class="btn btn-success" (click)="sendMessageToUser()">Send message To User</button>
  
  <div class="content">
    <div *ngFor="let msg of messageService.msg">
      {{msg | json}}
      <div>content: {{ msg?.content }}</div>
      <div>sender: {{ msg?.sender }}</div>
      <div>Type: {{ msg?.type }}</div>
    </div>
  </div>
</div>
